.candidates {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.candidates td, .candidates th {
    border: 1px solid #ddd;
    padding: 15px;
}

.candidates tr:nth-child(even){background-color: #f2f2f2;}

.candidates tr:hover {background-color: #ddd;}

.candidates th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
    border-top: solid 2px red;
}

#date-applied {
  padding: 10px 50px;
}

button {
  font-size: 1em;
  margin: 20px;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  padding: 10px;
  border: solid 2px red;
}

select {
  height: 30px;
  width: 100px;
  border-radius: 0;
  padding-left: 10px;
  cursor: pointer;
  font-size: 1em;

  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Position background arrow image */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 75px center;
}
